<h2><%= I18n.t("tog_mail.plugin_name") %></h2>
<h3>
<% for folder in @folder.siblings  %>
   <%= link_to folder.name, {:controller=>"messages",:action=>"index",:id=>folder.id} -%> |
<% end %>
<%= link_to I18n.t("tog_mail.member.create_new_message"),  new_member_message_url, {:class => "button mainaction add", :title => I18n.t("tog_mail.member.compose_new_message")} %>
</h3>

<table class="tableB">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("tog_mail.model.subject") %></th>
      <th scope="col"><%= I18n.t("tog_mail.model.from") %></th>
      <th scope="col"><%= I18n.t("tog_mail.model.to") %></th>
      <th scope="col"><%= I18n.t("tog_mail.model.when") %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @messages %></span>
        <span class="pages_navigation right">
          <%= will_paginate @messages, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <tbody>
  <% for msg in @messages %>
    <tr<%= cycle(' class="pair"','') -%>>
       <% cont = link_to msg.subject, member_message_path(:id => msg) %>
       <td><%=  msg.unread? ? content_tag(:strong, cont) : cont %></td>
       <td><%= (msg.from != current_user ) ? msg.from.login : I18n.t("tog_mail.member.you") %></td>
       <td><%= (msg.to != current_user ) ? msg.to.login : I18n.t("tog_mail.member.you") %></td>
       <td><%= msg.date %></td>
    </tr>
  <%end%>
  <% if @messages.blank? %>
    <tr>
       <td colspan="4"><%= I18n.t("tog_mail.member.no_messages") %></td>
    </tr>
  <% end %>
  <tbody>
</table>
