<div class="titleB"><%= link_to "TogMail", member_messages_path %> / Compose a new message</div>
<br/>
<%= error_messages_for :message %>
<% form_for :message, :url => member_messages_path  do |f| %>
  <fieldset>
    <div class="fields">
      <p>
        <label>From</label>
        <%= @from.profile.full_name %>
      </p>
      <p>
        <label for="message_to">To</label>
        <% if @to %>
          <%= @to.profile.full_name %>
          <%= f.hidden_field :to_user_id, :value => @to.id %>
        <% else %>
          <select name="message[to_user_id]" id="message_to" class="fieldbox">
             <option value="0">
                Select...
             </option>
             <optgroup label="Friends">
                <%= options_from_collection_for_select(@from.profile.friends, "id", "full_name") %>
             </optgroup>
             <optgroup label="Followers">
                <%= options_from_collection_for_select(@from.profile.followers, "id", "full_name") %>
             </optgroup>
             <optgroup label="Followings">
                <%= options_from_collection_for_select(@from.profile.followings, "id", "full_name") %>
             </optgroup>
          </select>
        <% end %>
      </p>
      <p>
        <label for="message_subject">Subject</label>
        <%= f.text_field :subject, :class => "fieldbox wide" %>
      </p>
      <p>
        <label for="message_content">Content</label>
        <%= f.text_area :content, :size => '80x10', :class => "fieldbox wide" %>
      </p>
    </div>
  </fieldset>
  <div class="actions">
    <%= submit_tag 'Send message', :class => "button mainaction" %>
  </div>
<% end %>
