<div class="titleB"><%=h @message.subject %></div>
<br />
<p>
  <strong>From:</strong>
  <%=h @message.from.login %>
  <br/>
  <strong>To:</strong>
  <%=h @message.to.login %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<% form_tag member_message_path(@message), :method => :delete do -%>
  <div class="actions">
    <%= link_to "Reply", reply_member_message_path(@message), :class=>"button mainaction" unless current_user == @message.from %>
    <%= submit_tag "Delete this entry ", :disable_with => "Please wait...", :class=>"button delete" %>
  </div>
<% end -%>
